<!DOCTYPE html>
<html lang="en">
  <head>
    <style type="text/css" title="x-apple-mail-formatting"></style>
    <meta name="viewport" content="width = 375, initial-scale = -1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="x-apple-disable-message-reformatting" />
    <link rel="stylesheet" href="https://font.typeform.com/dist/font-email.css" />
  </head>
  <body>
    <h3>Nueva información enviada por el formulario web</h3>
    <p>Los datos del usuario son los siguientes:</p>
    <ul>
      <li>Nombre: {{name}}</li>
      <li>Email: {{email}}</li>
      <li>Tiempo: {{time}}</li>
      <li>Presupuesto: {{budget}}</li>
    </ul>
    <h4>Mensaje:</h4>
    <p>{{message}}</p>
  </body>
</html>
